@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.wrap {
  width: 960px;
  margin: auto;
}
.navi {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.navi ul {
  width: 600px;
  display: flex;
  gap: 10px;
  margin: auto;
  text-align: center;
  /* background-color: lightsteelblue; */
}
.navi ul li {
  width: calc(100% / 4);
  /* background-color: lightsteelblue; */
}
.navi ul li a {
  display: block;
  padding: 15px 0;
  /* border-radius: 35px; */
  transition: all 0.3s;
}
.navi ul li a:hover {
  background-color: rgb(146, 166, 192);
  color: #fff;
  border-radius: 35px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contents {
  width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
#intro:target {
  background-color: whitesmoke;
}
#intro:target h2 {
  color: crimson;
}
#room:target {
  background-color: whitesmoke;
}
#room:target h2 {
  color: crimson;
}
#reservation:target {
  background-color: whitesmoke;
}
#reservation:target h2 {
  color: crimson;
}
